<h2>Customers</h2>
<ul class="customers">
  <li *ngFor="let customer of customers">
    <button type="button" (click)="onSelect(customer)" [class.selected]="customer === selectedCustomer">
      <span class="badge">{{customer.id}} </span>
      <span class="name">{{customer.firstName}}</span>
    </button>
  </li>
</ul>

<div *ngIf="selectedCustomer">
  <h2>{{selectedCustomer.firstName | uppercase}} Details</h2>
  <div>Id: {{selectedCustomer.id}}</div>
  <div>First name: {{selectedCustomer.firstName}}</div>
  <!--<div>
    <label for="customer-firstname">first name: </label>
    <input id="customer-firstname" [(ngModel)]="selectedCustomer.firstName" placeholder="firstname">
  </div>-->
  <div>Last name: {{selectedCustomer.lastName}}</div>
  <div>Email: {{selectedCustomer.email}}</div>
  <div>Accounts:</div>
  <div *ngFor="let account of selectedCustomer.accounts">
    <ol>
      <div>Account Number: {{account.id}}</div>
      <div>Type: {{account.type}}</div>
      <div>Balance: {{account.balance}}</div>
      <div>Currency:{{account.currency}}</div>
    </ol>
  </div>

</div>

